<banner>
    <img src="~/Content/images/banner.jpg" width="100%" height="30%"/>
</banner>
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About Rubik</h3>

<p>HƯỚNG DẪN SỬ DỤNG RUBIK.</p>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/images/rubik10.jpg" />
    </div>

    
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="~/Content/images/rubik12.jpg" />
        </div>
    
    
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="~/Content/images/rubik11.jpg" />
        </div>
    
</div>
