<banner>
    <img src="~/Content/images/banner.jpg" width="100%" height="30%" />
</banner>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Người thực hiện : NGuyễn Trần Duy Kiên </strong> <br>duykien97@gmail.com<br /> 
</address>